/* Police d'écriture pixelisée pour le score */
@font-face{
    font-family: "Digit";
    src: url("digital.ttf");
}

body{
    text-align: center; 
    background-color: #020414;
    color: #999;
}

#score{
    font-family: "Digit";
}

table {
    width: 85%;
    margin-top: 5%;
}

td {
    border: solid darkblue 2px;
}

td .hoverLight {
  opacity: 0.4;
  background-color: black;
}

td:hover .hoverLight {
  opacity: 0.7;
  background-color: cyan;
  cursor: crosshair;
}

#celvide {
    border-left: 0;
    border-top: 0;
}
