/* Police d'écriture pixelisée pour le score */
@font-face{
    font-family: Digit;
    src: url("digital.ttf");
}
@font-face{
    font-family: atomics;
    src: url("atomics.TTF");
}

body{
    text-align: center; 
    background-color: #020414;
    color: #999;
}

body {
    font-family: atomics, Digit, Arial;
}

.score {
    font-size: 25px;
    margin-top: 5%;
}

table {
    width: 85%;
    margin-top:5%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 25px;
}

.names {
    font-size: 30px;
}

.player {
    color: #2b669a;
    text-align: left;
}

.computer {
    color: #843534;
    text-align: right;
}

td {
    border: solid darkblue 2px;
    width:50px;
}

td .hoverLight {
  opacity: 0.4;
  background-color: black;
}

td:hover .hoverLight {
  opacity: 0.7;
  background-color: cyan;
  cursor: crosshair;
}

#celvide {
    border-left: 0;
    border-top: 0;
}

#missile, #missCP {
    background-color: rgba(114, 123, 132, 0.53);
    color: rgba(230, 95, 18, 0.877);    
}
